<h1>Edit the Album</h1>

<form action="/albums/<%= @albums.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="name">Album</label>
  <input type="text" name="name" value="<%=@albums.name%>"/>

  <input type="submit" value="CHANGE ALBUM"/>

</form>

<form action="/albums/<%= @albums.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Album">

</form>