<!DOCTYPE html>
<html>
  <head>
    <title>Artists</title>
    </head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    <body>
      <nav>
        <ul>
          <li><a href="/home">home</a></li>
          <li><a href="/artists">artists</a></li>
          <li><a href="/artists/new">add an artists</a></li>
          <li><a href="/albums">albums</a></li>
          <li><a href="/albums/new">add albums</a></li>
          <li><a href="/library">library</a></li>
        </ul>
      </nav>
      <%= yield%>
    </body>
</html>